Repository WebDevStudios/puppeteer-screenshots: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --config=.eslintrc.js --fix {staged_files}

prettier:
  run: npx prettier --config=prettier.config.js --write {staged_files}

update readme
  README.md
Due: prettier

switch from yarn to npm
  package-lock.json
  yarn.lock
Due: prettier

bump to 14
  .nvmrc
Due: none

use npm
  package.json
Due: prettier

only run monday morning
  .github/dependabot.yml
Due: prettier

bump
  .vscode/snipsnap.code-snippets
Due: none

normalize scripts
  lefthook.yml
  package.json
Due: prettier

check in assertions
  .github/workflows/assertions.yml
Due: prettier

move license to root as markdown
  .github/LICENSE
  LICENSE.md
Due: prettier

add trailing slash
  .eslintignore
  .prettierignore
Due: none

rename to .prettierrc.js
  .prettierrc.js
Due: eslint

point at updated config
  lefthook.yml
  package.json
Due: prettier

bump
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: prettier

Update README.md
  README.md
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

fix readme
  README.md
Due: prettier

output screenshots.zip to root dir
  src/app.js
Due: eslint

dont zip yourself
  src/app.js
Due: eslint

bump closes #60
  README.md
Due: prettier

bump
  README.md
Due: prettier

dependency bump
  .github/workflows/assertions.yml
  package-lock.json
  package.json
Due: prettier

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{md,html,json,yml}
